# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2025 Lukas Ostermann

if IPM_NET_EMUL

config IPM_NET_EMUL_STACK_SIZE
    int "Stack size in bytes of the connection handling thread"
    default 4096

config IPM_NET_EMUL_THREAD_PRIO
    int "Priority of the connection handling thread"
    default 2

endif
